.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: start;
  justify-content: start;
}

.listItem {
  border: 1px solid black;
  width: 200px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.itemText {
  padding: 8px;
  font-size: 14px;
}
