.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: start;
  justify-content: start;
}

.listItem {
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.castImg {
  object-fit: cover;
}

.itemText {
  padding: 8px;
  font-size: 14px;
  height: 80px;
  background-color: #1a1a1a;
}

.noCast {
  margin-top: 100px;
  font-size: 20px;
  text-align: center;
}
